.login__nav {
  position: relative;
  left: 50%;
  width: 50%;
  text-align: right;
  padding-top: 2rem;
  padding-right: 5rem;

  .login__menu {
    margin: 0 0 2rem 0;

    .nav__element {
      box-sizing: border-box;
      margin: 0 0 0 1rem;
      padding: 0.5rem;
      color: $color-gray;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        outline: 1px $color-yellow solid;
      }
    }
  }

  .nav__menu {
    padding-left: 2rem;
    text-align: right;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .nav__element {
      box-sizing: border-box;
      margin: 0 0 0 0.3rem;
      padding: 0.7rem;
      color: $color-gray;
      text-decoration: none;
      font-size: 1.15rem;

      &:hover {
        outline: 1px $color-gray solid;
        cursor: pointer;
      }
    }
  }
}

  .login__body{
    text-align: center;
    font-size: 2.1rem;
    color: $color-black;
    .title__container{
      width: 100%;
      text-align: center;
      .login__title{
        width: 12em;
        display: inline-block;
      }
    }
    .login__ornament{
      margin: 2rem 0 2rem 0;
      display: inline-block;
      height: 3rem;
      width: 16rem;
      background-image: url("../../assets/Decoration.svg");
      background-repeat: no-repeat;
    }
    .login__form__container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 18em;
      margin: auto;
      .login__form{
        width: 80%;
        background-color: $color-light-gray;
        text-align: center;
        margin-bottom: 1.5em;
        .form__container{
          display: inline-block;
          width: 70%;
          padding-top: 1em;
          padding-bottom: 2em;
          .form__email{
            display: flex;
            flex-direction: column;
            font-size: 0.6em;
            font-weight: 500;
            label{
              width: 100%;
              text-align: left;
              margin-top: 1em;
              margin-bottom: 1em;
            }
            input{
              width: 100%;
              height: 3em;
              margin-bottom: 1em;
              background-color: transparent;
              border: none;
              border-bottom: 1px solid $color-gray;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
      .form__buttons{
        margin-bottom: 3em;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-gray;
        align-items: center;
        .nav__element{
          text-decoration: none;
          color: inherit;
          font-size: 0.61em;
        }
        .form__button{
          color: inherit;
          border: 1px solid $color-gray;
          width: 8em;
          height: 3em;
          font-size: 0.61em;
          background-color: transparent;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }

.main__btn{
  font-family: $font-base;
  font-weight: 200;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid $color-gray;
  width: 8em;
  height: 3em;
  font-size: 1em;
  background-color: transparent;
  &:hover{
    cursor: pointer;
  }
}